.mainDiv{
    display: flex;;

}


.innerDiv{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/logo.png');
    width: 10px;
}

.para{
    margin-left: 1px;
    padding-left: 7px;
    /* width: 100%; */
}