.mainDiv{
    display: flex;
    margin: 14px;

}


.innerDiv{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/logo.png');
    /* width: 80px; */
    background-repeat: no-repeat;
    position: relative;
    left: 10%;
    top: 0%;
}

.para{
    /* width: 100%; */
    position: absolute;
    top: 50%;
    left: 10%;


}