.wrapper{
    width: 160px;;

}

.card{
    width: 160px;
    position: relative;
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.banner{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    background-color: var(--color-white);
    display: flex;
    padding: 6px;
    align-items: center;
}

.titleWrapper{
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.chip{
    background-color: var(--color-black) !important;
    color: white !important;
}